
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: Arial, sans-serif;
        }
            header{
            background-color: rgb(52, 52, 233);
            color: white;
            padding: 30px 0;
        }
        body{
            background:#c4cdde;
            min-height:100vh;
        }

        

        nav ul{
            list-style:none;
            display:flex;
            justify-content:center;
            gap:30px;
            padding:20px;
        }

        nav ul li a{
            color:white;
            text-decoration:none;
            font-size:25px;
            font-weight:bold;
        }

        nav ul li a:hover{
            text-decoration:underline;
        }

        
        .profile-form{
            background:rgb(233, 231, 242);
            width:50%;
            max-width:600px;
            padding:30px;
            margin:40px auto;
            border-radius:10px;
            box-shadow:0 0 15px rgba(0,0,0,0.1);
        
        }

        .profile-form h1{
            text-align:center;
            margin-bottom:5px;
            color:black;
            background: #a8aaf5;
        }

        .profile-form h3{
            text-align:center;
            color:black;
            font-weight:normal;
            margin-bottom:2px;
            background: #bcc8df;
        }

        hr{
            margin-bottom:10px;
        }

        .form-group{
            margin-bottom:5px;
        }

        label{
            display:block;
            margin-bottom:6px;
            font-weight:bold;
            
        }

        input, textarea{
            width:100%;
            padding:10px;
            border:1px solid:white;
            border-radius:5px;
            font-size:15px;
        }

        textarea{
            resize:none;
        }

        ul.skills{
            list-style:none;
        }

        ul.skills li{
            margin-bottom:8px;
        }

        .btn{
            width:100%;
            padding:12px;
            background:#007bff;
            color:white;
            border:none;
            border-radius:5px;
            font-size:16px;
            cursor:pointer;
        }

        .btn:hover{
            background:black;
        }
    footer {
        background: #0a11e3;
        text-align: center;
        padding: 30px;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 0.9rem;
        color: white;
    }


        

        
